body {
	font-family: "Skia";
}

.wrapper {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.headline {
	font-size: 130px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

.subhead {
	font-size: 40px;
	text-align: center;
}

.cookies-wrapper {
	width: 90%;
	height: 300px;
	margin: 0 auto;
	/*background-color: green;*/
}

.cookies {
	/*background-color: blue;*/
	width: 80%;
	height: 200px;
	margin: 0 auto;
	/*margin-top: 30px;*/
	list-style-type: none;
	font-size: 30px;
}

.cookies li {
	text-align: center;
	/*background-color: red;*/
	float: left;
	margin: 0 auto;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.picture {
	width: 200px;
}

.picture:hover {
	width: 210px;
	cursor: pointer;
}

.count {
	font-size: 30px;
	color: red;
}

.clear {
	font-size: 30px;
	display: block;
	margin: 0 auto;
}